
body {
    background-color: #feeede;

}

.title {
    font-family: "Bungee", sans-serif;
    font-weight: 700;
    font-size: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-2{
    font-family: "Noto Sans", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.title-2 span{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fdca01;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    justify-content: center; /* Center the contents horizontally */
}

.input-box{
    margin: 20px;
    font-size: 25px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.simulate-button {
    margin: 20px;
    font-size: 25px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.input-box > label {
    font-size: 20px;
}

input[type=text] {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 5px;
  }

  .radio-btn{
    font-size: 25px;
    font-family: "Noto Sans", sans-serif;

  }


.radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
  }

.radio-btn input:checked ~ .checkmark {
    background-color: #1d36b5;
  }



  .hidden {
    display: none;
}

button[type="submit"]{
    background-color: #1d36b5;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #132272;
}

button[type="submit"]:active {
    background-color: #1d36b5;
    box-shadow: 0 5px #0c1547;
    transform: translateY(4px);
  }

button[type="submit"]:hover {
    background-color: #132375;
}


.title-3{
    font-family: "Noto Sans", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #fdca01;
    padding: 1px;
    width: 150px;
    margin: 20px 0px 30px 660px;
    background-color: #fdca01;

}

#sequence-input {
    resize: none;
}

#snapshot{
    resize: none;
}

#export-button{
    background-color: #1d36b5;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #132272;
}

#export-button:active {
    background-color: #1d36b5;
    box-shadow: 0 5px #0c1547;
    transform: translateY(4px);
  }

#export-button:hover {
    background-color: #132375;
}

.gitna{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
}

.make-gitna{
    margin-left: 660px;
}

